<h2>chat socket</h2>
<hr>

<input type="text" id="chat">
<div id="mensajes"></div>

<a href="/">home page</a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>